/* ==========================================================================
   Typeahead - Autocomplete
   ========================================================================== */
.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}
.typeahead-demo .custom-popup-wrapper > .message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}
.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
/* ==========================================================================
   other stuff
   ========================================================================== */
html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #EBEFF1;
    color: #A1A8AF;
}
.left { float: left; }
.right { float: right; }
.inlineBlock { display: inline-block; width: 100%; }
.alignCenter { text-align: center; }
.marginTop50 { margin-top: 50px; }
.marginBottom30 { margin-bottom: 30px; }
.navbar-top {
	background: #646E7B;
	border-radius: 0;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    margin: 5px 0 0 5px!important;
    width: auto;
}
.goBack {
	color: #FFF;
	float: right;
    margin: 15px 0 0;
    font-size: 12px;
}
.goBack:hover {
	color: #FFF!important;
}
input.ui-select-search { width: auto!important; color: #FFF; }
a, button {
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}
/**/
.anchorLink .btn { margin: 10px 0 20px; }
select {
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0px;
}
i.select-arrow {
    position: absolute;
    top: 7px;
    right: 27px;
    font-size: 22px;
    color: #1A2F64;
    pointer-events: none;
    cursor: pointer;
}
.form-control, select {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    font-weight: 100;
}
.form-control:focus {
    border-color: #1A2F64;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #1A2F64;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #1A2F64;
}
.submitBtn, .modal-footer button, .customBtn {
    color: #FFF;
    background: #1A2F64;
    text-transform: uppercase;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    font-weight: 600;
    padding: 10px 20px;
    float: right;
}
.modal-footer button {
    color: #1A2F64;
    background: #FFF;
    border: 2px solid #1A2F64;
}
.submitBtn:hover, .modal-footer button:hover, .customBtn:hover, .modal-footer a:hover,
.submitBtn:active, .modal-footer button:active, .customBtn:active, .modal-footer a:active,
.submitBtn:focus, .modal-footer button:focus, .customBtn:focus, .modal-footer a:focus {
    background: #465988;
    color: #FFF;
}
.modal-footer a.btn {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #1A2F64;
    background: #1A2F64;
    color: #FFF;
}
.customBtn { float: none; }
.ui-select-multiple.ui-select-bootstrap {
    padding: 5px;
    background: rgba(255,255,255,.2);
    margin: 7px 0;
    border-radius: 2px;
    border: 0;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    margin: 0 0 0 7px;
}
.ui-select-bootstrap>.ui-select-choices, .ui-select-bootstrap>.ui-select-no-choice {
    border-radius: 0;
    background: #838b95;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    outline: 0;
    margin: 0 3px;
    border-radius: 2px;
    background: rgba(255,255,255,.2);
    border: 0;
    color: #FFF;
    padding: 7px 10px;
}
.ui-select-match:nth-child(1) {
    margin: 0;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    font-size: 16px;
    line-height: .75;
    color: #FFF;
    opacity: 1;
    text-shadow: none;
    font-weight: 300;
    margin: 3px 0;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-select-bootstrap .ui-select-choices-row>a {
    color: #FFF;
    font-weight: 300;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color: #646e7b;
}
.ui-select-bootstrap .ui-select-choices-row>a {
    padding: 5px 20px;
}
.ui-select-container.open .feedback-container { display: block; }
.help-block p, .noData { color: #D46262; font-size: 12px; }
input.ng-invalid.ng-touched,
input.has-error, select.has-error { border: 1px solid #D46262; }
/**/
::-webkit-input-placeholder { color: #FFF; }
::-moz-placeholder { color: #FFF; }
:-ms-input-placeholder { color: #FFF; }
:-moz-placeholder { color: #FFF; }
/**/
article.weather-block .data-wrapper {
    color: #A1A8AF;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0px 2px 3px 0px #eaeaea;
    padding: 20px;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
article.weather-block div * {
    display: inline-block;
}
article.weather-block div.right {
    text-align: right;
}
article.weather-block div.right,
article.weather-block div.left {
    padding: 0;
}
.city_name {
    font-weight: 400;
    font-size: 16px;
    color: #3B4A51;
    margin: 0;
}
.city_temp {
    font-weight: 400;
    font-size: 32px;
    color: #4C5766;
    margin: 0;
    position: relative;
    width: 100%;
    text-align: center;
}
.city_temp:after {
    content: 'ºC';
    font-size: 11px;
    position: absolute;
    top: 0;
}
.city_description {
    font-weight: 300;
    font-size: 12px;
    color: #b3b2b2;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.city_humidity, .city_wind_speed {
    color: #A1A8AF;
    font-size: 12px;
    margin: 0;
}
.city_humidity label, .city_wind_speed label {
    font-weight: 300;
    margin: 0;
}